.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  max-width: 1040px;
  background: #fefeff;

  a {
    transition: 0.4s;
    text-transform: uppercase;
    line-height: 33px;
    padding: 0 10px;
    font-family: 'Lato', sans-serif;
  }

  a:hover {
    color: #dc0106;
    transition: 0.4s;
  }
}

.curPageColor {
  color: #dc0106;
}

.headerImage {
  width: 6rem;
}

.headerHomeImage {
  width: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}
