.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto 6rem;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  a {
    transition: 0.3s;
  }

  a:hover {
    color: #dc0106;
    transition: 0.3s;
  }
}

.headerImage {
  width: 6rem;
}

.headerHomeImage {
  width: 8rem;
}

.backToHome {
  margin: 3rem 0 0;
}
