.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background: var(--white);

  div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    max-width: 1040px;
    background: var(--white);
    padding: 15px 0;
  }

  a {
    transition: 0.4s;
    text-transform: uppercase;
    line-height: 33px;
    padding: 0 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
  }

  a:hover {
    color: var(--red);
    transition: 0.4s;
  }
}

.curPageColor {
  color: var(--red);
}

.headerImage {
  width: 8rem;
}

@media (max-width: 600px) {
  .header {
    display: flex;
    justify-content: center;
    width: 100%;
    background: var(--white);
  
    div {
      padding: 15px 0;
    }

  }
}
