:root {
  --red: #d70000;
  --white: #fefeff;
  --gray: rgb(227,227,227);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    background: var(--white);
}

a {
  color: inherit !important;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

// logos hover expansion

#agc_expand, #isn_expand, #nvlap_expand {
  opacity: 0;
  position: absolute;
  transition: 0.4s;
  margin-left: 100%;
  bottom: 200px;
  width: 20rem !important;
  height: auto !important;
}

#agc_expand {
  margin-left: -100%;
}

#nvlap_expand_text {
  background: var(--white);
  color: black;
  opacity: 0;
  position: absolute;
  transition: 0.4s;
  margin-left: 50%;
  font-size: .75rem;
  width: 275px;
  text-align: center;
  bottom: 134px;
  border-radius: 25px;
  padding: 10px 0;
}

#isn_logo {
  width: 4rem !important;
  height: auto !important;
}

#isn_expand {
  margin-left: -125px;
  width: 12rem !important;
  height: auto !important;
  bottom: 100%;
  transition: 0.4s;
}

#agc_logo:hover ~ #agc_expand, #nvlap_logo:hover ~ #nvlap_expand {
  opacity: 100%;
  transition: 0.4s;
  margin-left: -200px;
}

#nvlap_logo:hover ~ #nvlap_expand_text {
  opacity: 100%;
  transition: 0.4s;
  margin-left: -175px;
}

#isn_logo:hover ~ #isn_expand {
  opacity: 100%;
  width: 12rem !important;
  height: auto !important;
  transition: 0.4s;
  bottom: 150px;
}

//  accordian styles

.accordion > * {
  border: none !important;
}

@media (max-width: 600px) {

  #agc_expand, #isn_expand, #nvlap_expand, #agc_logo, #isn_logo, #nvlap_logo {
    display: none;
  }

}