.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.headerBottomBorder {
  width: 100%;
  height: 5px;
  background: var(--red);
}

.homeCont {
  width: 100%;
  background-image: url("/images/helmet_bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 118px;
  transition: ease-in-out 1s;
}

.heroImage {
  width: 100%;
  height: 500px;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 40px;

  div {
    width: 540px;
    p {
      margin: 0;
    }
  }
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer p {
  margin: 8px auto;
}

.footer1 {
  background: #d02626;
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  
  p > a {
    width: auto;
  }

  div {
    max-width: 1040px;
    display: flex;
    justify-content: center;
    width: 100%;

    div {
      display: flex;
      flex-direction: column;

        p {
          font-family: 'Lato', sans-serif;
          font-weight: 200;
          margin: 2px 0;
          font-size: 14px;
          letter-spacing: .5px;
          text-align: center;
        }

      div:first-child {
        padding-bottom: 3px;
      }
    }

  }

  a {
    transition: 0.4s;
  }

  a:hover {
    color: #282626;
    transition: 0.4s;
  }

  span {
    margin: auto 25px;
    width: 2px;
    height: 70px;
    background: var(--white);
  }

  h3 {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0;
    width: 100px;
  }
}

.iconHeader {
  padding-bottom: 5px !important;
  margin-left: 7px;
  flex-direction: row !important;
  width: 100%;

  svg {
    height: 18px;
    width: auto;
    margin-right: 15px;
  }
}

.footer2 {
  background: #302f30;
  color: var(--white);
  width: 100%;
  padding: 25px 0;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;

  div {
    width: 100%;
    max-width: 860px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.hours {
  display: flex;
  flex-wrap: wrap;
  max-width: 260px !important;
  justify-content: flex-start !important;
  
  h3 {
    width: 100%;
    margin: 0 0 5px 0;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 300;
  }

  p {
    margin: 0 0 12px 0;
    width: 100%;;
  }

  div {
    width: 39%;
  }

  svg {
    font-size: 25px;
    transition: 0.4s;
  }

  svg:hover {
    transition: 0.4s;
    color: var(--red);
  }
}

.logosDiv {
  display: flex;
  justify-content: space-between;

  img {
    height: 55px;
    width: auto;
    margin: 0;
  }
}

.footer3 {
  width: 100%;
  background: var(--white);
  display: flex;
  justify-content: center;
  color: #383838;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  span {
    color: var(--red);
  }
}

.missionStatement {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 20px;
  color: #f5d3d3;
  background: #d02626;
}

.missionStatement p {
  text-align: center;
  max-width: 1040px;
  font-size: 1.1rem;
  margin: 10px 0 0 0;
}

.missionStatement h3 {
  color: var(--white);
  font-size: 1.35rem;
  text-transform: uppercase;
  margin: 0 0 10px 0;
  font-weight: 100;
}

.accolades {
  background: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 80px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

.accolades div {
  max-width: 1040px;
  display: flex;
  justify-content: space-around;
}

.accolades div div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accolades h3 {
  font-size: 1.75rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
}

.accolades p {
  margin: 0 0 40px 0;
  letter-spacing: .5px;
  font-size: 1.09rem;
}

.accolades button {
  width: 200px;
  border: none;
  font-size: 1rem;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  color: var(--white);
  text-transform: uppercase;
  vertical-align: baseline;
  background: #d02626;;
  justify-content: var(--label-align);
  transition: .4s ease-in-out;
  box-shadow: 1px 1px 2px rgba(107, 107, 107, 0.6);
  cursor: pointer;
}

.accolades button:hover {
  background: #ad2626;
}

.accolades img {
  height: 250px;
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 90px 80px 100px 80px;
  max-width: 1040px;
}

.about h3 {
  font-size: 1.75rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
}

.aboutInner {
  display: flex;
  padding-right: 50px;
  width: 100%;
  justify-content: space-between;
}

.aboutButtons {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
}

.aboutButtons button {
  width: 40%;
  border: none;
  font-size: .9rem;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  color: var(--white);
  text-transform: uppercase;
  vertical-align: baseline;
  background: #d02626;;
  transition: .4s ease-in-out;
  justify-content: var(--label-align);
  box-shadow: 1px 1px 2px rgba(107, 107, 107, 0.6);
  cursor: pointer;
}

.aboutButtons button:hover {
  background: #ad2626;
}

.aboutLeft {
  width: 65%;
  padding-right: 70px;
}

.aboutLeft p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 2px 0;
  font-size: 1rem;
  letter-spacing: .5px;
}

.aboutImages {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 35%;
}

.aboutImages img {
  width: 100%;
}

.clients {
  background: var(--gray);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
}

.clients h3 {
  font-size: 1.75rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
}

.clients div {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients img {
    height: 120px;
    width: auto;
    margin: 20px;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 90px;
}

.contact h3 {
  font-size: 1.75rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
}

.contactInner {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0px 80px 100px 80px;
  max-width: 1040px;
}

.contactLeft {
  padding-right: 70px;
}

.contactLeft p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 1rem;
  letter-spacing: .5px;
}

.contactRedP{
  color: #d02626;
  font-weight: 400 !important;
  margin-top: 20px !important;
}

.contactLeft p > a {
  cursor: pointer;
  transition: .4s ease-in-out;
  width: auto;
}

.contactLeft p > a:hover {
  color: #d02626;
  transition: .4s ease-in-out;
}

.contactRedP:first-child{
  margin-top: 0 !important;
}

.contactForm {
  width: 60%;

  form{
    display: flex;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.15rem;

    div:last-child {
      padding-top: 10px;
      display: flex;
      justify-content: space-between;
    }
  
    input {
      padding: 8px 10px;
      margin: 7px 0 14px 0;
    }

    input:focus {
      outline: none;
      border: 2px solid rgb(43, 43, 43);
      background: #faf9f9;
    }

    textarea {
      height: 120px;
      resize: none;
      padding: 8px 10px;
      margin: 7px 0 14px 0;
      font-family: 'Lato', sans-serif;
      font-weight: 400;
      font-size: .8rem;
    }

    textarea:focus {
      outline: none;
      border: 2px solid rgb(43, 43, 43);
      background: #faf9f9;
    }
  
    button {
      min-width: 100px;
      border: none;
      font-size: .9rem;
      padding: 5px 45px;
      font-family: 'Lato', sans-serif;
      font-weight: 200;
      color: var(--white);
      vertical-align: baseline;
      background: #d02626;
      transition: .4s ease-in-out;
      justify-content: var(--label-align);
      box-shadow: 1px 1px 2px rgba(107, 107, 107, 0.6);
      cursor: pointer;
    }
  
    button:hover {
      background: #ad2626;
    }

    em {
      color: var(--red);
      font-size: .9rem;
    }
  }
}

.errorBorder {
  border: 2px solid var(--red);
  margin-top: 3px !important;
}

.checkBox {
  margin-right: 10px !important;
  cursor: pointer;
}

.checkBox:checked {
  accent-color: var(--red);
}

.toggleDiv {
  display: flex;
  align-items: center;

  p {
    margin: 0;
  }
}

.toggleStyle {
  background: gray;
  border-radius: 50px;
  top: 3px;
  height: 15px;
  position: relative;
  width: 30px;
  margin: 0 10px 5px 0px;
  cursor: pointer;
  pointer-events: auto;
  box-shadow: 2px 3px 8px rgb(192, 192, 192);
}

.toggledStyle {
  background: var(--red);
  border-radius: 50px;
  box-shadow: 0px 0px 5px var(--red);
  top: 3px;
  height: 15px;
  position: relative;
  width: 30px;
  margin: 0 10px 5px 0px;
  cursor: pointer;
  pointer-events: auto;
}

.toggle {
  background: white;
  border-radius: 50px;
  height: 13px;
  top: 1px;
  left: 16px;
  position: absolute;
  transition: 0.2s;
  width: 13px;
}

.toggled {
  background: white;
  border-radius: 50px;
  height: 13px;
  top: 1px;
  left: 1px;
  position: absolute;
  transition: 0.2s;
  width: 13px;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 90px 80px 100px 80px;
  width: 100%;
  background: var(--gray);

  h4 {
    color: var(--red);
    margin-top: 0;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
  }
}

.lab {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 90px;
}

.lab h3 {
  font-size: 1.75rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin-top: 0;
  text-transform: uppercase;
}

.labCont {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 1.05rem;
  max-width: 1040px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.consulting {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 90px;
}

.consulting h3 {
  font-size: 1.75rem;
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  margin: 0 0 10px 0;
  text-transform: uppercase;
}

.consultingCont {
  font-family: 'Lato', sans-serif;
  font-weight: 200;
  font-size: 1.05rem;
  max-width: 1040px;
  text-align: center;
}

.consultingGrid, .labGrid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  text-align: center;
  max-width: 860px;
  margin-bottom: 50px;

  div {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 40px 15px;
  }

  svg {
    color: var(--red);
    height: 70px;
    width: auto;
  }

  h4 {
    font-size: 18px;
    line-height: 1em;
    letter-spacing: 0.05em;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 10px;
  }

  p {
    font-size: 14px;
    text-align: center;
    margin: 0;
  }
}

.labGrid svg {
  height: 50px;
  margin-bottom: 10px;
}

@keyframes fromLeft {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromLeftSlow {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }

  50% {
    opacity: 0;
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}


.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.2rem;
  color: #fefeff;
  font-family: 'Roboto' sans-serif;
  font-weight: 200;
  text-transform: uppercase;
  animation: fromLeft 1.7s;
}

.description {
  line-height: 1.5;
  font-size: 1.6rem;
  color: var(--white);
  font-family: 'Roboto' sans-serif;
  font-weight: 200;
  text-align: end;
  animation: fromLeftSlow 3s;
}

.code {
  background: var(--white);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  height: 1em;
}

// page transitions

.content {
  transition: 1s ease-in-out;
}

.initContent {
  transition: 2.5s ease-in-out;
  overflow: hidden;
  position: relative;
}

.in {
  opacity: 1;
}

.out {
  opacity: 0;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
