.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  padding: 0;
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeDiv {
  width: 100%;
}

.heroImage {
  width: 100%;
  height: 500px;
  background-image: url("/images/helmet_bg.png");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px 20px 5px 20px;
}

.footer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer p {
  margin: 8px auto;
}

.footer1 {
  background: var(--red);
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 25px 0;
  

  div {
    max-width: 800px;
    display: flex;
    justify-content: center;
    width: 100%;

    div {
      display: flex;
      flex-direction: column;

        p {
          font-family: 'Lato', sans-serif;
          font-weight: 200;
          margin: 2px 0;
          font-size: 14px;
          letter-spacing: .5px;
          text-align: center;
        }

      div:first-child {
        padding-bottom: 3px;
      }
    }

  }

  a {
    transition: 0.4s;
  }

  a:hover {
    color: #282626;
    transition: 0.4s;
  }

  span {
    margin: auto 25px;
    width: 2px;
    height: 70px;
    background: var(--white);
  }

  h3 {
    font-family: 'Nunito Sans', sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 18px;
    letter-spacing: 1px;
    margin: 0;
    width: 100px;
  }
}

.iconHeader {
  padding-bottom: 5px !important;
  margin-left: 7px;
  flex-direction: row !important;
  width: 100%;

  svg {
    height: 18px;
    width: auto;
    margin-right: 15px;
  }
}

.footer2 {
  background: #413f41;
  color: var(--white);
  width: 100%;
  display: flex;
  justify-content: center;

  div {
    max-width: 1040px;
  }
}

.logosDiv {
  display: flex;

  img {
    height: 50px;
    width: auto;
  }
}

.footer3 {
  width: 100%;
  background: var(--white);
  display: flex;
  justify-content: center;
  color: #383838;
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;

  span {
    color: var(--red);
  }
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 3.25rem;
  color: #fefeff;
  font-family: 'Roboto' sans-serif;
  font-weight: 200;
  text-transform: uppercase;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  color: var(--white);
  font-family: 'Roboto' sans-serif;
  font-weight: 200;
  margin: 10px 0 10px 260px;
}

.code {
  background: var(--white);
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
